.listItem {
    width: 65%;
    background-color: rgb(233, 233, 233);
    margin: 3% auto;
    padding: 1% 0 3%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: all 0.2s linear;

}
 
.itemTitle {
    /* background-color: yellow; */
    font-size: 27px; 
    color: rgb(73, 73, 73);
    /* position: absolute; */
    transition: all 0.2s linear;
}

.ingredients {
    width: 55%; 
    color: rgb(73, 73, 73);
    font-size: 15px;
    margin: 2% 0 2% 30%;
    text-align: start;
    transition: all 0.2s linear;
}

.healthLabel{
    padding: 2% 0;
    color: #e6cf05;
    width: 70%;
    margin: 0 auto ;
    text-align: center;
    font-size: 20px;
    transition: all 0.2s linear;
}

.healthLabelItem{
    margin: 0.3%;
    list-style: none;
    display: inline-block;
    color: rgb(73, 73, 73);
    font-size: 15px;
    transition: all 0.2s linear;
}

.ingredients::marker {
    color: rgb(153, 8, 8);

}

.calory {
    margin: 2%;
    color: rgb(153, 8, 8);
    font-weight: 500;
}

.moreLink{
    font-weight: 500;
    text-decoration: none;
    color: #00bd58;
    display: block;
    margin-top: 3%;
    transition: all 0.2s linear;
}

.ingredientsTitle{
    color: #e6cf05;
    width: 70%;
    margin: 0 auto ;
    padding-top: 2%;
    text-align: center;
    font-size: 20px;
    transition: all 0.2s linear;

}


@media (max-width: 899px) and (min-width: 680px) {
    .listItem {
        width: 75%;
    }

    .fa-external-link{
        font-size: 16px;
    }

    .ingredients {
        margin: 2% 0 2% 25%;
    }
}

@media (max-width: 679px) and (min-width: 400px) {
    .listItem {
        width: 70%;
        margin: 5% auto;
    }
    .foodImg{
        width: 70%;
    }

    .fa-external-link{
        font-size: 14px;
    }

    .ingredients {
        margin: 2% 0 2% 22%;
    }

    .moreLink{
        font-size: 15px;
    }

    .ingredientsTitle, .healthLabel {
        font-size: 17px;
    }

    .calory {
        font-size: 15px;
    }

    .itemTitle {
        font-size: 21px; 
    }
    
}


@media (max-width: 399px)  {
    .listItem {
        width: 95%;
        margin: 5% auto;
    }
    .foodImg{
        width: 70%;
    }

    .ingredients {
        margin: 2% 0 2% 22%;
        font-size: 14px;
    }

    .moreLink{
        font-size: 15px;
    }

    .ingredientsTitle, .healthLabel {
        font-size: 17px;
    }

    .calory, .healthLabelItem {
        font-size: 13px;
    }

    .itemTitle {
        font-size: 18px; 
    }
}
