
.searchForm{
    width: 50%;
    margin: 2% auto 0;
    display: flex;
    justify-content: space-between;
}

.searchInput{
    width: 80%;
    height: 30px;
    font-size: 17px;
    margin: 2%;
    padding: 0.5% 2%;
    outline: none;
    border: 1px solid #a1a1a1;
    color: rgb(73, 73, 73);
}

.searchBtn{
    font-family: 'Poppins', sans-serif;
    width: 15%;
    height: 37px;
    font-size: 17px;
    font-weight: 600;
    margin: 2%;
    border: 1px solid #bdbdbd;
    background-color: #00bd58;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}


@media (max-width: 1200px) and (min-width: 900px) {
    
    .searchBtn{
        font-size: 16px;
    }

    .searchInput{
        font-size: 16px;
        
    }
}

@media (max-width: 899px) and (min-width: 680px) {
    .searchForm{
        width: 60%;
    }
    .searchBtn{
        font-size: 14.5px;
    }

    .searchInput{
        font-size: 15px;
        
    }
}

@media (max-width: 679px) and (min-width: 400px) {

    .searchForm{
        width: 90%;
    }
    .searchBtn{
        font-size: 14px;
        width: 17%;
    }

    .searchInput{
        font-size: 15px;
        width: 70%
    }
}


@media (max-width: 399px)  {
    .searchForm{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 3% auto;
    }
    .searchBtn{
        font-size: 14px;
        width: 80%;
        height: 30px;
        margin: 0 auto;
    }

    .searchInput{
        font-size: 15px;
        width: 90%;
        margin: 3% auto;
    }

}