@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Akaya+Telivigala&family=Anton&family=Bebas+Neue&family=Comfortaa:wght@300&family=Festive&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Luckiest+Guy&family=Macondo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Redressed&family=Righteous&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shizuru&display=swap');


.container{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: 0;
    padding: 0.2%;
    color: #4b4b4b;
    border-bottom: 1px solid #a0a0a0;
    display: flex;
    justify-content: space-between;
}

h1{
    margin-left: 10%;
}

.login-con{
    width: 15%;
    padding-top: 2%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
}

.login-con button{
    font-size: 17px;
    height: 35px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #4b4b4b;
    background-color: #fff;
    cursor: pointer;
}

