@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Akaya+Telivigala&family=Anton&family=Bebas+Neue&family=Comfortaa:wght@300&family=Festive&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Luckiest+Guy&family=Macondo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quintessential&family=Redressed&family=Righteous&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shizuru&display=swap');


.container {
    width: 99%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: 0;
    padding: 0.2%;
    color: #4b4b4b;
    border-bottom: 1px solid #a0a0a0;
    display: flex;
}

.logoCon {
    display: flex;
    transition: all 0.2s linear;
    color: #4b4b4b;
    text-decoration: none;
    margin-left: 4%;
}

.logoImg {
    width: 60px;
    height: 60px;
    margin-right: 5%;
    margin-top: 5%;
}

.login-con {
    transition: all 0.2s linear;
    width: 20%;
    padding-top: 2%;
    margin-right: 1%;
    margin-left: 56%;
    overflow: hidden;
}

.login-con button {
    font-size: 16px;
    height: 35px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: #4b4b4b;
    background-color: #fff;
    cursor: pointer;
    margin-left: 4%;
}

.homeContactIcon{
    display: none;
}

.navLinks{
    text-decoration: none;
}

.fa {
    font-size: 25px;
}


@media (max-width: 1200px) and (min-width: 900px) {

    .container {
        width: 99%;
    }

    .login-con button {
        font-size: 13px;
    }

    .login-con {
        width: 20%;
        margin-left: 56%;
        margin-right: 0%;
    }

    h1 {
        font-size: 17px;
    }

    .fa {
        font-size: 18px;
    }

    .logoCon {
        width: 20%;
        margin-left: 1.3%;
        margin-top: 1%;
    }

    .logoImg {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 899px) and (min-width: 680px) {
    .container {
        width: 98%;
    }

    .homeContact {
        font-size: 12px;
        display: none;
    }

    .homeContactIcon{
        display: inline-block;
        color: #4b4b4b;
        cursor: pointer;
        
    }

    .login-con {
        width: 18%;
        margin-right: 0%;
        margin-left: 61%;
    }

    h1 {
        font-size: 18px;
    }

    .fa-sign-out{
        margin-left: 13%;
        font-size: 19px;
    }

    .logoCon {
        margin-left: 2%;
    } 

    .logoImg {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 679px) and (min-width: 400px) {
    .container {
        width: 98%;
        display: flex;
        flex-direction: column;
    }

    .homeContact {
        font-size: 12px;
        display: inline-block;
    }

    .homeContactIcon{
        display: none;
        color: #4b4b4b;
        cursor: pointer;
        
    }

    .login-con {
        width: 50%;
        margin: 0 auto;
    }
    .login-con button{
        font-size: 15px;
    }

    .fa-sign-out{
        margin-left: 13%;
        font-size: 17px;
    }

    .logoCon {
        width: 60%;
        margin: 2% auto 2%;
    }

}


@media (max-width: 399px)  {
    .container {
        width: 98%;
        display: flex;
        flex-direction: column;
    }

    .homeContact {
        font-size: 12px;
        display: inline-block;
    }

    .homeContactIcon{
        display: none;
        color: #4b4b4b;
        cursor: pointer;
        
    }

    .login-con {
        width: 60%;
        margin: 0 auto;
    }
    .login-con button{
        font-size: 12px;
    }

    .fa-sign-out{
        font-size: 17px;
        margin-left: 13%;
    }

    .logoCon {
        width: 60%;
        margin: 2% auto 2%;
    }

    .logoImg {
        width: 35px;
        height: 35px;
    }

    h1{
        font-size: 20px;
    }

}